.vscode

*.sln
Api/bin
Api/obj
Api/appsettings.Development.json
ApiTests/bin
ApiTests/obj

node_modules
.env.local

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
